* {
    padding: 0px;
    margin: 0;
    background-color: black;
    color: white;
}

#screen {
    /* border: 5px solid red; */
    width: 100%;
    height: 18000px;

}

#nav {
    /* border: 1px solid yellow; */
    width: 100%;
    height: 65px;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

#logo {
    /* border: 1px solid greenyellow; */
    width: 75.813px;
    height: 30px;
    padding-top: 30px;

    margin-left: 30px;

}

#logo>p {
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    /* height 16px */
    line-height: 16px;
    flex-wrap: nowrap;
}

#logo>p:nth-child(2) {
    display: none;
}

#menu {
    /* border: 1px soid white; */
    width: 480.281px;
    height: 29.328px;
    display: flex;
    justify-content: space-between;
}

#menu>p {
    /* border: 1px solid blueviolet; */
    flex-wrap: wrap;
    font-family: "Space Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 31.3281px;
    line-height: 21px;
    padding-top: 25px;
}

#social {
    /* border: 1px solid goldenrod; */
    width: 95px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

#social>i {

    line-height: 17px;
    padding-top: 25px;
}

#lines {
    display: none;
}




#body {
    /* border: 2px dotted blue; */
    width: 100%;
    height: auto;
    /* margin-top: 100px; */
}

#homepages {
    /* border: 1px solid rgb(3, 252, 23); */
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 48px 0px;
    align-items: center;
    background-position-x: 50%;
    background-position-y: 50%;
    margin-bottom: 100px;
}

#homepage_1 {
    /* border: 1px solid rosybrown; */
    width: 90%;
    height: 407px;
    margin: auto;
    padding: 0px 60px;
    margin-top: 110px;

}

#imgdiv {
    /* border: 1px solid red; */
    width: 80%;
    height: 108px;
    margin: auto;
}

#imgdiv>img {
    width: 108px;
    height: 108px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 36px;
}

#home_text {
    /* border: 1px solid yellow; */
    width: 90%;
    margin: auto;
    height: 79.439px;
    margin-bottom: 20px;
    text-align: center;
}

#home_text>h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 70.4px;
    font-style: normal;
    font-weight: 400;
    height: 79.4375px;
    letter-spacing: 1.408px;
    line-height: 79.4464px;
    margin-bottom: 20px;
}

#home_text>p {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: 50.375px;
    line-height: 25.2px;
    color: rgb(182, 182, 182);
}

#home_text>button {
    border: 1px solid rgb(0, 0, 0);
    /* border: 2px solid red; */
    width: 160px;
    height: 44px;
    background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 30%, #ffffff 100%), radial-gradient(circle at 30% 50%, #ffffff 0, rgba(255, 255, 255, 0) 70%);
    /* background-color: rgb(164, 162, 162); */
    color: black;
    border-radius: 50px;
    margin-top: 60px;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    /* margin-left: 0%; */

}

#home_2>button i {
    margin-left: 10px;
}

/* #text-bt {

    background-color: rgb(171, 168, 168);
    height: 40%;
    width: 80%;
    border-radius: 30px;
    border: none;
    color: black;
    padding: 0px;

    border: 1px solid greenyellow;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
} */

/* #img-bt {
    margin-left: 120px;
    background-color: rgb(164, 162, 162);
    width: 0;
    height: 0;
    border-style: ridge;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent rgb(0, 0, 0);
    outline: solid black;

} */

#homepage_2 {
    /* border: 2px solid rgb(255, 251, 0); */
    margin-top: 100px;
    width: 100%;
    height: 525.516px;
    padding: 80px 0px;
    display: flex;
    justify-content: space-around;
}

#home_2 {
    /* border: 1px solid aqua; */
    width: 25%;
    height: 525.516px;
    padding: 0px 65px;



}



#home_2>p:nth-child(1) {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(182, 182, 182);
    text-align: left;
}


#home_2>h2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 41.6px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.832px;
    line-height: 48.5306px;
    text-align: left;


}

#home_2>p:nth-last-child(2) {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(182, 182, 182);
    text-align: left;
    margin-top: 150px;
}

#home_2>button {
    border: 1px solid rgb(0, 0, 0);
    /* border: 2px solid red; */
    width: 160px;
    height: 44px;
    background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 30%, #ffffff 100%), radial-gradient(circle at 30% 50%, #ffffff 0, rgba(255, 255, 255, 0) 70%);
    /* background-color: rgb(164, 162, 162); */
    color: black;
    border-radius: 50px;
    margin-top: 60px;
    margin-right: 90%;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;

}

#home_2>button i {
    margin-left: 10px;
}


#images {
    border: 1px solid aqua;
    width: 76%;
    height: 525.516px;
    display: flex;
    justify-content: space-around;
    padding: 0px 25px;
    margin-right: 50px;
}

#left {
    /* border: 1px dotted yellow; */
    width: 46%;
    height: 100%;
    background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image6.jpg);
    /* object-fit: fill; */
    /* overflow: hidden; */

}

#img1 {
    border: 1px solid red;
    width: 70%;
    height: 356.516px;
    padding: 64px 28px 24px 28px;
    margin: 10%;
    background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 5%, #ffffff 100%), radial-gradient(circle at 0% 20%, #ffffff 0, rgba(255, 255, 255, 0) 70%);
    display: none;
}

/*  #rightA>div:nth-child(1)  */
#first {
    border: 2px solid blue;
    /* background-color: #adadad; */
    width: 85%;
    height: 60%;
    margin: 0% 15.5% 0% 7.5%;
    padding-top: 15%;
    background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image2.jpg);
    object-fit: fill;

}

#first1 {
    border: 1px solid aqua;
    background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image2.jpg);
    object-fit: cover;


    overflow-wrap: break-word;

}

#first>button {
    border: 2px solid red;
    width: 160px;
    height: 44px;
    background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 30%, #ffffff 100%), radial-gradient(circle at 30% 50%, #ffffff 0, rgba(255, 255, 255, 0) 70%);
    background-color: rgb(164, 162, 162);
    color: black;
    border-radius: 50px;
    margin-top: 60px;
    /* margin-right: 50%; */
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

#first>button i {
    margin-left: 10px;
}

#second {
    border: 1px solid aquamarine;
    /* background-color: #adadad; */
    /* background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 30%, #ffffff 100%), radial-gradient(circle at 30% 50%, #ffffff 0, rgba(255, 255, 255, 0) 70%); */

}


#second>p:nth-child(1) {
    /* border: 1px solid green; */
    background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 30%, #ffffff 100%), radial-gradient(circle at 30% 50%, #ffffff 0, rgba(255, 255, 255, 0) 70%);
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 20px;

}

#second>p:nth-child(2) {
    /* border: 1px solid green; */
    background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 30%, #ffffff 100%), radial-gradient(circle at 30% 50%, #ffffff 0, rgba(255, 255, 255, 0) 70%);
    color: black;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}



#right {
    /* border: 1px dotted yellow; */
    width: 46%;
    height: 100%;
    background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image6.jpg);
    /* object-fit:cover;
    overflow: hidden; */
}

#homepage_3 {
    /* border: 2px solid green; */
    width: 100%;
    height: 160.750px;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: center;
    /* margin: auto; */


}

#container_3 {
    /* border: 1px solid rgb(255, 0, 255) ; */
    width: 70%;
    height: 170.750px;
    margin-left: 131.5px;
    margin-right: 131.5px;
    /*  
    margin: auto; */


}

#row_3 {
    /* border: 1px dotted pink; */
    width: 120%;
    height: 170.750px;
    display: flex;
    justify-content: space-between;
    margin: auto;


}

#row_left {
    /* border: 1px solid royalblue; */
    width: 55%;
    height: 168.750px;
    padding-left: 16px;
    padding-right: 16px;

}

#row_left>h2 {
    /* border: 1px dashed goldenrod; */
    /* border-right: 1px solid rgb(40, 40, 40); */
    font-family: 'Space Grotesk', sans-serif;
    font-size: 42px;
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
    letter-spacing: 0.832px;
    line-height: 48px;
    overflow-wrap: break-word;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    margin-right: 0px;

}

#row_right {
    /* border: 1px solid royalblue; */
    width: 35%;
    height: 168.750px;
    padding-left: 16px;
    padding-right: 16px;


}

#row_right>p {

    /* border: 1px dashed goldenrod; */
    height: auto;
    font-family: "DM Sans", sans-serif;
    color: rgb(182, 182, 182);
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
    border-left: 1px solid rgb(40, 40, 40);
    padding-left: 74px;
    vertical-align: middle;




}

#homepage_4 {
    /* border: 2px solid yellow; */
    width: 100%;
    height: 290px;
    padding-top: 80px;
    padding-bottom: 80px;
    /* margin-top: 10px; */
}

#container_4 {
    /* border: 1px dotted skyblue; */
    width: 90%;
    height: 290px;
    padding-left: 66px;
    padding-right: 66px;

}

#row_4 {
    /* border: 1px dotted lightgreen; */
    width: 100%;
    height: 290px;
    margin-left: -16px;
    margin-right: -16px;
    display: flex;
    justify-content: space-between;
    margin: auto;

}

#text_4 {
    /* border: 1px solid red; */
    width: 18%;
    height: 290px;
    margin: auto;

}

#text_4>h2 {
    /* border: 1px solid white; */
    font-family: "Space Grotesk", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    height: 45.9844px;
    letter-spacing: 0.68px;
    line-height: 40.9972px;
    color: #ffffff;
    text-align: left;
    overflow-wrap: break-word;
    margin-bottom: 0px;
    margin-block-start: 0.3em;
    margin-block-end: 0.30em;
    word-break: break-word;
    word-wrap: break-word;
    padding: 0px;

}

#text_4>p {
    /* border: 1px solid white; */
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: 25.1875px;
    line-height: 25.2px;
    color: rgb(182, 182, 182);
    text-align: left;
    overflow-wrap: break-word;
    word-break: break-word;
    margin: auto;
    text-size-adjust: 100%;
    margin-block-start: 0.23em;
    margin-block-end: 0.23em;
    padding: 2px;
    margin-top: 1px;
}


#img_4 {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    width: 95%;
    height: 290px;
}

#img_4>img {
    /* border: 1px solid rgb(157, 255, 0); */
    width: 19%;
    height: 270px;
    padding: 10px;
    object-fit: cover;
}

#homepage_5 {
    border: 1px solid red;
    width: 100%;
    height: 236px;
    margin-top: 60px;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;

}

#title_left {
    /* border: 1px dotted lightgreen; */
    width: 100%;
    height: 79.438px;
    padding-top: 14px;
    padding-bottom: 18px;

}

#title_left>h2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 71.4px;
    font-style: normal;
    font-weight: 400;
    height: 79.4375px;
    letter-spacing: 1.408px;
    line-height: 79.4464px;
    text-align: left;
    white-space: nowrap;
}

#title_right {
    /* border: 1px dotted lightgreen; */
    width: 98%;
    height: 85.4px;
    padding: 18px 14px;
    border-top: 1px solid #282828;

}

#title_right>h2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 71.4px;
    font-style: normal;
    font-weight: 400;
    height: 79.4375px;
    letter-spacing: 1.408px;
    line-height: 79.4464px;
    text-align: right;

}

#homepage_6 {
    /* border: 1px solid red; */
    width: 100%;
    height: 533px;
    padding: 80px 0px;
    margin-top: 90px;


}

#container_6 {
    /* border: 1px dotted skyblue; */
    width: 82%;
    height: 531px;
    margin-left: 131.5px;
    margin-right: 131.5px;
    padding-left: 16px;
    padding-right: 16px;
}

#row_6 {
    /* border: 1px solid yellow; */
    width: 100%;
    height: 531px;
    display: flex;
    justify-content: center;
}

#one_6,
#two_6,
#three_6 {
    /* border: 1px solid purple; */
    width: 33.3%;
    height: 531px;
}

#one_6>img,
#two_6>img,
#three_6>img {
    /* border: 1px solid rgb(2, 255, 56); */
    width: 95%;
    height: 346px;
    text-align: center;
    margin-bottom: 15px;
    object-fit: cover;
}

#text_6 {
    border: 3px dashed purple;

}

#tag_6 {
    /* border: 1px solid white; */
    width: 35%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    margin-left: 10px;

}

#tag_6>p {
    /* border: 1px solid white; */
    /* text-decoration:underline; */
    margin-bottom: 5px;
    /* margin-right: 5px; */
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 21.3281px;
    line-height: 21.3334px;
    /* margin-block-start: 0.83em;
    margin-block-end: 0.83em; */


}

#text_6>h3 {
    width: 95%;
    /* border: 1px dashed rgb(8, 31, 236); */
    text-align: left;
    margin-left: 15px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    height: 40.9844px;
    left: 0px;
    letter-spacing: 0.68px;
    line-height: 40.9972px;
    /* margin-left: 10px; */

    /* margin-block-start: 0.53em;
margin-block-end: 0.23em; */
    /* margin-top: 6px; */


}

#homepage_7 {
    /* border: 2px solid white; */
    width: 100%;
    height: 540px;
    padding: 80px 0px;
    margin-top: 40px;
    margin-bottom: 10px;

}

#row_7 {
    /* border: 1px dashed rgb(8, 31, 236); */
    width: 100%;
    height: 540px;
    margin: auto;
    display: flex;
}

#left_7 {
    /* border: 1px solid yellow; */
    width: 43%;
    height: 540px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: auto;


}

#text_7 {
    /* border: 1px dotted palevioletred; */
    width: 68%;
    height: 248px;
    padding: 0px 100px;
}

#text_7>h3 {
    /* border: 1px solid red; */
    font-family: "Space Grotesk", sans-serif;
    font-size: 41.6px;
    font-style: normal;
    font-weight: 400;
    height: 97.0312px;
    letter-spacing: 0.832px;
    line-height: 48.5306px;
    width: 100%;
    text-align: center;

}

#text_7>p {
    /* border: 1px solid red; */
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    height: 100.75px;
    line-height: 25.2px;
    color: rgb(182, 182, 182);
    width: 100%;
    margin-top: 50px;
    word-break: break-word;
    word-wrap: break-word;

    /* margin-block-start: 3.90em;
margin-block-end: .90em; */

}

#right_7 {
    /* border: 1px solid rgb(241, 76, 0); */
    width: 60%;
    height: 540px;

}

#img_7 {
    width: 100%;
    height: 580px;
    object-fit: cover;
    background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image11.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

#img_7>button {
    border: 1px solid rgb(202, 202, 202);
    width: 160px;
    height: 44px;
    background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 30%, #ffffff 100%), radial-gradient(circle at 30% 50%, #ffffff 0, rgba(255, 255, 255, 0) 80%);
    /* background-color: rgb(164, 162, 162); */
    color: black;
    border-radius: 50px;
    margin-top: 260px;
    /* margin-right: 50%; */
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;

}

#img_7>button i {
    margin-left: 10px;
}

#homepage_8 {
    /* border: 2px solid white; */
    width: 100%;
    height: 480px;
    padding: 80px 0px;
    /* margin-top: 40px; */
}

#row_8 {
    /* border: 2px solid red; */
    width: 40%;
    height: 480px;
    /* margin-left: 16px;
    margin-right: 16px; */
    display: flex;
    justify-content: center;
    padding: 0px 60px;


}

#left_8 {
    /* border: 1px solid blue; */
    margin-top: 12%;
    position: relative;

    padding-left: 16px;
    padding-right: 16px;
}

#left_8>h2 {
    /* border: 1px dotted greenyellow; */
    margin-bottom: 25px;
    color: #ffffff;
    font-family: "Space Grotesk", sans-serif;
    font-size: 41.6px;
    font-style: normal;
    font-weight: 400;
    height: 48.5156px;
    letter-spacing: 0.832px;
    line-height: 48.5306px;
    margin-block-end: 25px;
    text-align: left;
    word-break: break-word;
    word-wrap: break-word;

}

#left_8>p {
    /* border: 1px dotted greenyellow; */
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: 75.5625px;
    line-height: 25.2px;
    color: rgb(182, 182, 182);
    word-break: break-word;
    word-wrap: break-word;
    text-align: left;
}

#background_8 {
    width: 100%;
    height: 88%;
    background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/background1.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 100;
    left: 0;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
    /* backface-visibility: hidden; */
    z-index: 20;
    background-attachment: fixed;
    opacity: 20%;
    object-fit: cover;
}

#homepage_9 {
    /* border: 1px solid white; */
    width: 100%;
    height: 960px;
    padding: 80px 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 180px;
}

#container_9 {
    /* border: 1px solid rgb(7, 218, 255); */
    width: 81%;
    height: 960px;
    margin-right: 8.5%;
    margin-left: 8.5%;
    padding-left: 16px;
    padding-right: 16px;

}

#row_9 {
    /* border: 1px dashed rgb(250, 12, 12); */
    width: 100%;
    height: 960px;
    justify-content: center;
    /* margin-left: -16px;
    margin-right: -16px; */
    margin: auto;


}

#left_9 {
    /* border: 1px solid rgb(202, 247, 4); */
    width: 98%;
    height: 960px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* margin-right: 10PX; */
}

#text_9 {
    /* border: 1px solid rgb(252, 6, 6); */
    width: 42%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#p1 {
    width: 100%;
    /* height:129px; */
    /* border-top-color: rgb(40, 40, 40);
    border-top-style: solid;
    border-top-width: 1px; */
    color: rgb(255, 255, 255);
    font-family: "Space Grotesk", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    height: 100.984px;
    line-height: 40.9972px;
    letter-spacing: 0.68px;
    text-align: left;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-out;
    /* padding-top:25px; */


}

#p2,
#p3,
#p4,
#p5 {
    /* border: 1px dotted gold; */
    width: 100%;
    /* height:129px; */
    border-top-color: rgb(40, 40, 40);
    border-top-style: solid;
    border-top-width: 1px;
    color: rgb(255, 255, 255);
    font-family: "Space Grotesk", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    height: 100.984px;
    line-height: 40.9972px;
    letter-spacing: 0.68px;
    text-align: left;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-out;
    padding-top: 25px;



}

#img_9 {
    /* border: 1px solid rgb(3, 175, 243); */
    width: 50%;
    height: 100%;

}

#img_9_1 {
    width: 100%;
    height: 95%;
    background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image9.jpg);
    object-fit: cover;
    text-align: center;
}

#homepage_10 {
    border: 1px solid white;
    width: 100%;
    height: 603px;
    padding: 80px 0px;
    /* margin-top: 150px; */

}

#row_10 {
    /* border: 1px dotted orange; */
    width: 99%;
    height: 603px;
    display: flex;
    justify-content: space-between;
}

#left_10 {
    /* border: 1px solid green; */
    width: 52%;
    /* height: 100%; */
    /* padding-left: 16px; */
    padding-right: 16px;

}

#img_10 {
    border: 1px solid rgb(10, 10, 10);
    background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image13.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 603px;
    background-repeat: no-repeat;
    object-fit: fill;


}

#left_text_10 {
    /* border: 1px solid red; */
    width: 51%;
    height: 35.5%;
    padding: 80px;
    position: relative;
    margin: 15%;


}

#icon_10 {
    /* border: 1px solid red; */

}

#icon_10>img {
    /* border: 1px solid red; */
    width: 13%;
    height: 45px;
    margin-right: 100%;
}

#text_10>p:nth-child(2) {
    /* border: 1px solid green; */
    width: 110%;
    margin-bottom: 24px;
    color: rgb(182, 182, 182);
    padding-top: 5px;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: 75.5625px;
    line-height: 25.2px;
    margin-block-end: 24px;
    text-align: left;


}

#text_10>p:nth-child(3) {
    /* border: 1px solid green; */
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    height: 25.1875px;
    line-height: 25.2px;
    margin-block-end: 24px;
    margin-block-start: 0px;
    margin-bottom: 24px;

}

#text_10>p:nth-child(4) {
    /* border: 1px solid green; */
    width: 100%;
    color: rgb(182, 182, 182);
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 21.3281px;
    line-height: 21.3334px;
    text-align: left;

}

#right_10 {
    /* border: 1px solid green; */
    width: 50%;
    height: 100%;

}











#homepage_11 {
    border: 1px solid rgb(252, 13, 13);
    width: 100%;
    height: 603px;
    padding: 80px 0px;
    margin-top: 150px;
}

#footer {
    /* border: 2px solid rgb(97, 5, 184); */
    width: 100%;
    height: 160px;
    padding: 80px 0px;
    margin-top: 150px;

}

#container_foot {
    /* border: 1px dotted yellow; */
    width: 95%;
    height: 160px;
    padding: 0px 20px;
    margin: auto;


}

#row_foot {
    /* border: 1px dashed orange; */
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;

}

#foot_1,
#foot_2,
#foot_3,
#foot_4 {
    /* border: 1px solid orange; */
    width: 30%;
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;
}

#logo_foot {
    /* border: 1px dotted lightgreen; */
    width: 100%;
    height: 30%;
    margin-bottom: 18px;
}

#logo_foot>img {
    /* border: 1px solid yellow; */
    width: 13.5%;
    height: 100%;

}

#foot_1>p:nth-child(2) {
    /* border: 1px dotted lightgreen; */
    width: 100%;
    height: 16%;
    margin-bottom: 18px;
    color: rgb(182, 182, 182);
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    /* height: 25.1875px; */
    line-height: 25.2px;
    margin-block-end: 18px;
}

#foot_1>p:nth-child(3) {
    /* border: 1px dotted lightgreen; */
    width: 100%;
    height: 31%;
    color: rgb(255, 255, 255);

    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    /* height: 50.375px; */
    line-height: 25.2px;
}

#text_foot_2 {
    /* border: 1px dotted greenyellow; */
    width: 100%;
    height: 60%;
}

#text_foot_2>p {
    color: rgb(182, 182, 182);
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: 25.1875px;
    line-height: 25.2px;

    margin-bottom: 10px;
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;

}

#text_foot_3 {
    /* border: 1px dotted greenyellow; */
    width: 100%;
    height: 81.5%;


}

#text_foot_3>p {
    color: rgb(182, 182, 182);

    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: 25.1875px;
    line-height: 25.2px;

    margin-bottom: 10px;
    overflow-wrap: break-word;
    text-align: left;

}

#foot_4>p {
    /* border: 1px dotted greenyellow; */
    margin-bottom: 18px;
    height: 63%;
    color: rgb(182, 182, 182);

    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

    line-height: 25.2px;
    margin-block-end: 18px;
    margin-block-start: 0px;


}











@media screen and (min-width : 990px) and (max-width : 1299px) {
    * {
        padding: 0px;
        margin: 0;
        background-color: black;
        color: white;
    }

    #screen {
        /* border: 2px solid red; */
        width: 100%;
        height: 10000px;

    }

    #nav {
        /* border: 1px solid yellow; */
        width: 100%;
        height: 65px;
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;
    }

    #logo {
        /* border: 1px solid greenyellow; */
        width: 75.813px;
        height: 30px;
        padding-top: 30px;

        margin-left: 30px;

    }

    #logo>p {
        font-family: "Space Grotesk", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        /* height 16px */
        line-height: 16px;
        flex-wrap: nowrap;
    }

    #logo>p:nth-child(2) {
        display: none;
    }

    #menu {
        /* border: 1px soid white; */
        width: 480.281px;
        height: 29.328px;
        display: flex;
        justify-content: space-between;
    }

    #menu>p {
        /* border: 1px solid blueviolet; */
        flex-wrap: wrap;
        font-family: "Space Grotesk";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        height: 31.3281px;
        line-height: 21px;
        padding-top: 25px;
    }

    #social {
        /* border: 1px solid goldenrod; */
        width: 95px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
    }

    #social>i {

        line-height: 17px;
        padding-top: 25px;
    }

    #lines {
        display: none;
    }




    #body {
        /* border: 2px dotted blue; */
        width: 100%;
        height: 10000px;
        /* margin-top: 100px; */
    }

    #homepages {
        border: 1px solid rgb(3, 252, 23);
        width: 100%;
        height: auto;
        margin: auto;
        text-align: center;
        padding: 48px 0px;
        align-items: center;
        background-position-x: 50%;
        background-position-y: 50%;
        margin-bottom: 100px;
    }

    #homepage_1 {
        border: 1px solid rosybrown;
        width: auto;
        height: 407px;
        margin: auto;
        padding: 0px 60px;
        margin-top: 110px;

    }

    #imgdiv {
        /* border: 1px solid red; */
        width: 80%;
        height: 108px;
        margin: auto;
    }

    #imgdiv>img {
        width: 108px;
        height: 108px;
        vertical-align: middle;
        text-align: center;
        margin-bottom: 36px;
    }

    #home_text {
        /* border: 1px solid yellow; */
        width: 90%;
        margin: auto;
        height: 79.439px;
        margin-bottom: 20px;
        text-align: center;
    }

    #home_text>h1 {
        font-family: "Space Grotesk", sans-serif;
        font-size: 70.4px;
        font-style: normal;
        font-weight: 400;
        height: 79.4375px;
        letter-spacing: 1.408px;
        line-height: 79.4464px;
        margin-bottom: 20px;
    }

    #home_text>p {
        font-family: "DM Sans", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        height: 50.375px;
        line-height: 25.2px;
        color: rgb(182, 182, 182);
    }

    #home_text>button {
        /* border: 2px solid red; */
        width: 160px;
        height: 44px;
        background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 30%, #ffffff 100%), radial-gradient(circle at 30% 50%, #ffffff 0, rgba(255, 255, 255, 0) 70%);
        /* background-color: rgb(164, 162, 162); */
        color: black;
        border-radius: 50px;
        margin-top: 50px;
        /* margin-left: 44%; */

    }

    #text-bt {

        background-color: rgb(171, 168, 168);
        /* height: 40%;
        width: 80%; */
        border-radius: 30px;
        border: none;
        color: black;
        padding: 0px;

        /* border: 1px solid greenyellow; */
        padding-top: 20px;
        /* padding-bottom: 20px; */
        color: black;
        font-family: "Space Grotesk", sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    #img-bt {
        margin-left: 120px;
        background-color: rgb(164, 162, 162);
        width: 0;
        height: 0;
        border-style: ridge;
        border-width: 10px 0 10px 20px;
        border-color: transparent transparent transparent rgb(0, 0, 0);
        outline: solid black;

    }

    #homepage_2 {
        /* border: 2px solid rgb(255, 251, 0); */
        margin-top: 100px;
        width: 100%;
        height: 525.516px;
        padding: 80px 0px;
        display: flex;
        justify-content: space-around;
    }

    #home_2 {
        /* border: 1px solid aqua; */
        width: 28%;
        height: 525.516px;
        padding: 0px 35px;



    }



    #home_2>p:nth-child(1) {
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: rgb(182, 182, 182);
        text-align: left;
    }


    #home_2>h2 {
        font-family: "Space Grotesk", sans-serif;
        font-size: 41.6px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.832px;
        line-height: 48.5306px;
        text-align: left;


    }

    #home_2>p:nth-last-child(2) {
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: rgb(182, 182, 182);
        text-align: left;
        margin-top: 50px;
    }

    #home_2>button {
        /* border: 2px solid red; */
        width: 160px;
        height: 44px;
        /* background-color: rgb(164, 162, 162); */
        background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 30%, #ffffff 100%), radial-gradient(circle at 30% 50%, #ffffff 0, rgba(255, 255, 255, 0) 70%);
        color: black;
        border-radius: 50px;
        margin-top: 50px;
        margin-right: 90%;
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;

    }

    #images {
        border: 1px solid aqua;
        width: 80%;
        height: 525.516px;
        display: flex;
        justify-content: space-between;
        /* padding: 0px 25px; */
        margin-right: 50px;
    }

    #left {
        /* border: 1px dotted yellow; */
        width: 48%;
        height: 100%;
        background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image6.jpg);
        /* object-fit: fill; */
        /* overflow: hidden; */

    }

    #right {
        /* border: 1px dotted yellow; */
        width: 48%;
        height: 100%;
        background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image6.jpg);
        /* object-fit:cover;
    overflow: hidden; */
    }

    #homepage_3 {
        /* border: 2px solid green; */
        width: 100%;
        height: AUTO;
        padding-top: 80px;
        padding-bottom: 80px;
        align-items: center;
        /* margin: auto; */


    }

    #container_3 {
        /* border: 3px solid rgb(255, 0, 255) ; */
        width: 73%;
        height: AUTO;
        margin-left: 90.5px;
        margin-right: 90.5px;
        /*  
        margin: auto; */


    }

    #row_3 {
        /* border: 1px dotted pink; */
        width: 120%;
        height: 170.750px;
        display: flex;
        justify-content: space-between;
        margin: auto;


    }

    #row_left {
        /* border: 1px solid royalblue; */
        width: 55%;
        height: AUTO;
        padding-left: 16px;
        padding-right: 16px;

    }

    #row_left>h2 {
        /* border: 1px dashed goldenrod; */
        font-family: 'Space Grotesk', sans-serif;
        font-size: 38px;
        font-weight: 400;
        word-wrap: break-word;
        text-align: left;
        letter-spacing: 0.832px;
        line-height: 48px;
        overflow-wrap: break-word;
        padding-top: 35px;
        padding-bottom: 30px;
        padding-right: 50px;
        margin-right: 0px;

    }

    #row_right {
        /* border: 1px solid royalblue; */
        width: 38%;
        height: AUTO;
        padding-left: 16px;
        padding-right: 16px;


    }

    #row_right>p {
        border-left: 1px solid rgb(40, 40, 40);
        /* border: 1px dashed goldenrod; */
        height: auto;
        font-family: "DM Sans", sans-serif;
        color: rgb(182, 182, 182);
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
        overflow-wrap: break-word;
        text-size-adjust: 100%;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 60px;
        /* vertical-align: middle; */




    }




}

@media screen and (min-width : 750px) and (max-width : 990px) {
    * {
        margin: 0;
        padding: 0;
    }

    #screen {
        border: 2px solid red;
        width: 100%;
        height: 3300px;

    }


    #logo>p:nth-child(1),
    #menu,
    #social {
        display: none;
    }

    #logo>p:nth-child(2) {
        display: block;
    }


    #lines {

        margin-right: 30px;
        /* border: 1px solid white; */
        padding-top: 30px;
        display: block;

    }
    #body {
        border: 2px dotted blue;
        width: 100%;
        height: 10000px;
        /* margin-top: 100px; */
    }
    #homepages {
        border: 1px solid rgb(3, 252, 23);
        width: 100%;
        height: auto;
        margin: auto;
        text-align: center;
        padding: 48px 0px;
        align-items: center;
        background-position-x: 50%;
        background-position-y: 50%;
        margin-bottom: 100px;
    }
    #homepage_1 {
        /* border: 1px solid rosybrown; */
        width: auto;
        height: 407px;
        margin: auto;
        padding: 0px 60px;
        margin-top: 110px;

    }
    #imgdiv {
        /* border: 1px solid red; */
        width: 80%;
        height: 108px;
        margin: auto;
    }


    #imgdiv>img {
        /* border: 1px solid yellow; */
        width: 98px;
        height: 98px;
        vertical-align: middle;
        text-align: center;
        margin-bottom: 30px;
    }

    /* #homepage {
        border: 1px solid rgb(3, 252, 23);
        width: 98%;
        height: 687px;
        margin: auto;
        text-align: center;
        padding: 48px 0px;
        align-items: center;
        background-position-x: 50%;
        background-position-y: 50%;
        margin-bottom: 100px;
    } */

    /* #home {
        border: 1px solid rosybrown;
        width: 85%;
        height: 407px;
        margin: auto;
        padding: 0px 60px;
        margin-top: 110px;

    } */

    #home_text {
        /* border: 1px solid rgb(3, 109, 56); */
        width: 85%;
        margin: auto;
        height: 79.439px;
        margin-bottom: 20px;
        text-align: center;
    }



    #home_text>h1 {
        /* border: 1px solid yellow; */
        font-family: "Space Grotesk", sans-serif;
        font-size: 60.4px;
        font-style: normal;
        font-weight: 400;
        height: 60.4375px;
        letter-spacing: 1.408px;
        line-height: 60.4464px;
        margin-bottom: 15px;
    }

    #home_text>p {
        /* border: 1px solid yellow; */
        font-family: "DM Sans", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        height: 45.375px;
        line-height: 20.2px;
        color: rgb(182, 182, 182);
    }

    #home_text>button {
        /* border: 2px solid red; */
        width: 160px;
        height: 44px;
        /* background-color: rgb(164, 162, 162); */
        background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 30%, #ffffff 100%), radial-gradient(circle at 30% 50%, #ffffff 0, rgba(255, 255, 255, 0) 70%);
        color: black;
        border-radius: 50px;
        margin-top: 50px;
        /* margin-left: 44%; */

    }

    #homepage_2 {
        /* border: 2px solid rgb(119, 0, 255); */
        margin-top: 0px;
        width: 98%;
        height: 825.516px;
        padding: 80px 0px;
        flex-direction: column;
    }

    #home_2 {
        /* border: 1px dashed aqua; */
        width: 95%;
        height: auto;
        padding: 0px 12px;
        /* padding: 0px 51px; */
        /* display: flex;
        justify-content: space-around;
        flex-direction: column; */

    }

    #home_2>p:nth-child(1) {
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: rgb(182, 182, 182);
        text-align: left;
        margin-top: 80PX;
        margin-bottom: 5PX;
    }

    #home_2>h2 {
        font-family: "Space Grotesk", sans-serif;
        font-size: 41.6px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.832px;
        line-height: 48.5306px;
        text-align: left;


    }

    #home_2>p:nth-last-child(2) {
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: rgb(182, 182, 182);
        text-align: left;
        margin-top: 0px;
        flex-wrap: wrap;
    }

    #home_2>button {
        /* border: 2px solid red; */
        width: 160px;
        height: 44px;
        /* background-color: rgb(164, 162, 162); */
        background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 30%, #ffffff 100%), radial-gradient(circle at 30% 50%, #ffffff 0, rgba(255, 255, 255, 0) 70%);
        color: black;
        border-radius: 50px;
        margin-top: 50px;
        margin-right: 90%;
        margin-bottom: 70PX;
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;


    }

    #images {
        border: 2px solid aqua;
        width: 94%;
        height: 515.516px;
        /* flex-direction: column; */
        display: flex;
        justify-content: space-between;
        padding: 0px 25px;
        margin-right: 50px;
    }

    #left {
        /* border: 1px dotted rgb(255, 0, 0); */
        width: 48%;
        height: 500px;
        background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image6.jpg);
        /* object-fit: fill; */
        /* margin-bottom: 100px;
    background-repeat: no-repeat; */
        /* overflow: hidden; */

    }

    #right {
        /* border: 1px dotted blue; */
        width: 48%;
        height: 500px;
        background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image6.jpg);
        /* object-fit:cover;
    overflow: hidden; */
    }

    #homepage_3 {
        border: 2px solid green;
        width: 98%;
        height: auto;
        padding-top: 80px;
        padding-bottom: 80px;
        /* align-items: center; */
        /* margin-top: 0px; */


    }

    #container_3 {
        /* border: 3px solid rgb(255, 0, 255) ; */
        width: 80%;
        height: AUTO;
        /* margin-left:90.5px;
        margin-right:90.5px; */
         
        margin: auto;


    }

    #row_3 {
        /* border: 1px dotted pink; */
        width: auto;
        height: auto;
        /* display: flex; */
        /* justify-content: space-between; */
        flex-direction: column;
        /* margin: auto; */


    }

    #row_left {
        /* border: 1px solid royalblue; */
        width: 93%;
        height: auto;
        /* padding-left: 16px;
        padding-right: 16px; */

    }

    #row_left>h2 {
        /* border: 1px dashed goldenrod; */
        font-family: 'Space Grotesk', sans-serif;
        font-size: 42px;
        font-weight: 400;
        word-wrap: break-word;
        text-align: left;
        letter-spacing: 0.832px;
        line-height: 48px;
        overflow-wrap: break-word;
        padding-top: 50px;
        /* padding-bottom: 40px; */
        /* padding-right: 10px; */
        /* margin-right: 0px; */

    }

    #row_right {
        /* border: 1px solid royalblue; */
        width: 97%;
        height: auto;
        /* padding-left: 16px;
        padding-right: 16px; */


    }

    #row_right>p{
        border-top: 1px solid rgb(40, 40, 40);
        border-left: none;
        height: auto;
        font-family: "DM Sans", sans-serif;
        color: rgb(182, 182, 182);
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        overflow-wrap: break-word;
        /* text-size-adjust: 100%; */
        text-align: left;
        padding-top: 40px;
        padding-bottom: 10px;
        padding-left: 0px;
        vertical-align: middle;




    }








}

@media screen and (min-width: 451px) and (max-width: 750px) {

    #screen {
        border: 2px solid red;
        width: 100%;
        height: 15000px;

    }

    #logo>p:nth-child(1),
    #menu,
    #social {
        display: none;
    }

    #logo>p:nth-child(2) {
        display: block;
    }


    #lines {

        margin-right: 30px;
        /* border: 1px solid white; */
        padding-top: 30px;
        display: block;

    }

    #imgdiv>img {
        width: 98px;
        height: 98px;
        vertical-align: middle;
        text-align: center;
        margin-bottom: 30px;
    }

    #homepage {
        /* border: 1px solid rgb(3, 252, 23); */
        width: 98%;
        height: 687px;
        margin: auto;
        text-align: center;
        padding: 48px 0px;
        align-items: center;
        background-position-x: 50%;
        background-position-y: 50%;
        margin-bottom: 100px;
    }

    #home {
        /* border: 1px solid rosybrown; */
        width: 75%;
        height: 407px;
        margin: auto;
        padding: 0px 60px;
        margin-top: 110px;

    }

    #home_text {
        /* border: 1px solid yellow; */
        width: 85%;
        margin: auto;
        height: 79.439px;
        margin-bottom: 20px;
        text-align: center;
    }




    #home_text>h1 {
        font-family: "Space Grotesk", sans-serif;
        font-size: 52.4px;
        font-style: normal;
        font-weight: 400;
        height: 60.4375px;
        letter-spacing: 1.408px;
        line-height: 60.4464px;
        margin-bottom: 15px;
        flex-wrap: nowrap;
    }

    #home_text>p {
        font-family: "DM Sans", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        height: 45.375px;
        line-height: 20.2px;
        color: rgb(182, 182, 182);
    }

    #home_text>button {
        /* border: 2px solid red; */
        width: 160px;
        height: 44px;
        /* background-color: rgb(164, 162, 162); */
        background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 30%, #ffffff 100%), radial-gradient(circle at 30% 50%, #ffffff 0, rgba(255, 255, 255, 0) 70%);
        color: black;
        border-radius: 50px;
        margin-top: 50px;
        /* margin-left: 44%; */

    }

    #homepage_2 {
        /* border: 2px solid rgb(255, 251, 0); */
        /* margin-top: 350px; */
        width: 98%;
        height: 1500px;
        /* padding: 80px 0px; */
        flex-direction: column;
    }

    #home_2 {
        /* border: 1px solid aqua; */
        width: 95%;
        height: auto;
        padding: 0px 12px;
        /* padding: 0px 51px; */
        /* display: flex;
        justify-content: space-around;
        flex-direction: column; */

    }

    #home_2>p:nth-child(1) {
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: rgb(182, 182, 182);
        text-align: left;
        margin-top: 80PX;
        margin-bottom: 5PX;
    }

    #home_2>h2 {
        font-family: "Space Grotesk", sans-serif;
        font-size: 41.6px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.832px;
        line-height: 48.5306px;
        text-align: left;


    }

    #home_2>p:nth-last-child(2) {
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: rgb(182, 182, 182);
        text-align: left;
        margin-top: 0px;
        flex-wrap: wrap;
    }

    #home_2>button {
        /* border: 2px solid red; */
        width: 160px;
        height: 44px;
        /* background-color: rgb(164, 162, 162); */
        background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 30%, #ffffff 100%), radial-gradient(circle at 30% 50%, #ffffff 0, rgba(255, 255, 255, 0) 70%);
        color: black;
        border-radius: 50px;
        margin-top: 50px;
        margin-right: 90%;
        margin-bottom: 100PX;
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;


    }

    #images {
        /* border: 1px solid aqua; */
        width: 91%;
        height: 1000.516px;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        padding: 0px 25px;
        margin-right: 50px;
        /* flex-direction: column; */
    }

    #left {
        /* border: 1px dotted rgb(255, 17, 0); */
        width: 100%;
        height: 100%;
        background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image6.jpg);
        /* object-fit: fill; */
        /* overflow: hidden; */
        margin-bottom: 30px;

    }

    #right {
        /* border: 1px dotted rgb(55, 0, 255); */
        width: 100%;
        height: 100%;
        background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image6.jpg);
     
        /* object-fit:cover;
    overflow: hidden; */

    }
    #homepage_3 {
        border: 2px solid green;
        width: 100%;
        height: auto;
        padding-top: 80px;
        padding-bottom: 80px;
        /* align-items: center; */
        margin-top: 50px;


    }

    #container_3 {
        /* border: 3px solid rgb(255, 0, 255) ; */
        width: 80%;
        height: AUTO;
        /* margin-left:90.5px;
        margin-right:90.5px; */
         
        margin: auto;


    }

    #row_3 {
        /* border: 1px dotted pink; */
        width: auto;
        height: auto;
        /* display: flex; */
        /* justify-content: space-between; */
        flex-direction: column;
        /* margin: auto; */


    }

    #row_left {
        /* border: 1px solid royalblue; */
        width: 95%;
        height: auto;
        /* padding-left: 16px;
        padding-right: 16px; */

    }

    #row_left>h2 {
        /* border: 1px dashed goldenrod; */
        font-family: 'Space Grotesk', sans-serif;
        font-size: 38px;
        font-weight: 400;
        word-wrap: break-word;
        text-align: left;
        letter-spacing: 0.76px;
        line-height: 49px;
        overflow-wrap: break-word;
        /* padding-top: 50px; */
        /* padding-bottom: 40px; */
        /* padding-right: 10px; */
        margin-right: 0px;

    }

    #row_right {
        /* border: 1px solid royalblue; */
        width: 98%;
        height: auto;
        /* padding-left: 16px;
        padding-right: 16px; */


    }

    #row_right>p {
        border-top: 1px solid rgb(40, 40, 40);
        height: auto;
        border-left: none;
        font-family: "DM Sans", sans-serif;
        color: rgb(182, 182, 182);
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        overflow-wrap: break-word;
        /* text-size-adjust: 100%; */
        text-align: left;
        padding-top: 40px;
        padding-bottom: 10px;
        padding-left: 0px;
        vertical-align: middle;




    }


}

@media screen and (max-width : 450px) {

    /* *{
        margin: 0;
        padding: 0;
    } */
    /* #screen {
        border: 2px solid red;
        width: 100%;
        height: 15000px;
    
    } */
    #nav {
        /* border: 1px solid yellow; */
        width: 97%;
        height: 65px;
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;
    }

    #logo>p:nth-child(1),
    #menu,
    #social {
        display: none;
    }

    #logo>p:nth-child(2) {
        display: block;
    }


    #lines {

        margin-right: 30px;
        /* border: 1px solid white; */
        padding-top: 30px;
        display: block;

    }

    #imgdiv>img {
        width: 85px;
        height: 85px;
        vertical-align: middle;
        text-align: center;
        margin-bottom: 26px;
    }

    #home {
        /* border: 1px solid rosybrown; */
        width: 80%;
        height: 407px;
        margin: auto;
        padding: 0px 30px;
        margin-top: 110px;



    }

    #home_text {
        /* border: 1px solid yellow; */
        width: 85%;
        margin: auto;
        height: 79.439px;
        margin-bottom: 20px;
        text-align: center;
    }

    #home_text>h1 {
        /* border: 1px solid yellow; */
        font-family: "Space Grotesk", sans-serif;
        font-size: 40.4px;
        font-style: normal;
        font-weight: 400;
        height: 60.4375px;
        letter-spacing: 0.408px;
        line-height: 60.4464px;
        margin-bottom: 20px;

    }

    #home_text>p {
        /* border: 1px solid yellow; */
        font-family: "DM Sans", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        height: 40.375px;
        line-height: 15.2px;
        color: rgb(182, 182, 182);
    }

    #home_text>button {
        /* border: 2px solid red; */
        width: 140px;
        height: 44px;
        /* background-color: rgb(164, 162, 162); */
        background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 30%, #ffffff 100%), radial-gradient(circle at 30% 50%, #ffffff 0, rgba(255, 255, 255, 0) 70%);
        color: black;
        border-radius: 50px;
        margin-top: 50px;
        /* margin-left: 44%; */
    }

    #homepage_2 {
        /* border: 2px solid rgb(255, 251, 0); */
        margin-top: 40px;
        width: 95%;
        height: 1500.516px;
        padding: 80px 0px;
        flex-direction: column;
    }

    #home_2 {
        /* border: 1px solid aqua; */
        width: 91%;
        height: auto;
        padding: 0px 12px;
        /* padding: 0px 51px; */
        /* display: flex;
        justify-content: space-around;
        flex-direction: column; */

    }

    #home_2>p:nth-child(1) {
        /* border: 1px solid yellow; */
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: rgb(182, 182, 182);
        text-align: left;
        margin-top: 80PX;
        margin-bottom: 5PX;
    }

    #home_2>h2 {
        font-family: "Space Grotesk", sans-serif;
        font-size: 41.6px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.832px;
        line-height: 48.5306px;
        text-align: left;


    }

    #home_2>p:nth-last-child(2) {
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: rgb(182, 182, 182);
        text-align: left;
        margin-top: 0px;
        flex-wrap: wrap;
    }

    #home_2>button {
        /* border: 2px solid red; */
        width: 150px;
        height: 44px;
        /* background-color: rgb(164, 162, 162); */
        background-image: linear-gradient(99deg, rgba(255, 255, 255, 0) 30%, #ffffff 100%), radial-gradient(circle at 30% 50%, #ffffff 0, rgba(255, 255, 255, 0) 70%);
        color: black;
        border-radius: 50px;
        margin-top: 50px;
        margin-right: 90%;
        margin-bottom: 70PX;
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;


    }

    #images {
        /* border: 1px solid aqua; */
        width: 82%;
        height: 1000.516px;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        padding: 0px 25px;
        margin-right: 50px;
        /* flex-direction: column; */
    }

    #left {
        /* border: 1px dotted rgb(255, 17, 0); */
        width: 100%;
        height: 100%;
        background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image6.jpg);
        /* object-fit: fill; */
        /* overflow: hidden; */
        margin-bottom: 30px;

    }

    #right {
        /* border: 1px dotted rgb(55, 0, 255); */
        width: 100%;
        height: 100%;
        background-image: url(https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image6.jpg);
        /* object-fit:cover;
    overflow: hidden; */

    }





}










/* #footer {
    border: 2px solid green;
    width: 100%;
    height: 300px;
} */